h1{
    font-size: 50px;
    color: lightSalmon;
}
body{
    font-family: 'Poppins', sans-serif;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
h5{
    color: rgb(36, 245, 9);;
}